#navbar {

  transition: all 0.3s ease;

}

#navbar.scrolled {

  background-color: rgba(3, 7, 18, 0.95);
  box-shadow: 0 0 20px rgba(34, 211, 238, 0.1);

}

.nav-link {

  position: relative;

}

.nav-link::after{

  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #22ee3a;
  transition: width 0.3s ease;

}

.nav-link:hover::after {

  width: 100%;

}